body{
  margin: 0;
}

.main{
  position: relative;
  height: 300vh;
  width: 100vw;
  overflow: hidden;
  background: rgba(22, 103, 14, 1);
  /*padding: 0 25%;*/
}

.main:before{
  content: '';
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(rgba(0,0,0,.0), rgba(0,0,0,1));
  z-index: 9999;
}

.main img{
  position: absolute;
  -webkit-filter: drop-shadow(0 5px 6px rgba(0,0,0,.9));
  filter: drop-shadow(0 5px 6px rgba(0,0,0,.9));
  z-index: 1;
}

.cherries{
  width: 100vw;
  height: 120vh;
  background: url("./assets/cherries.png") no-repeat center / cover;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
